In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pevek,RU,2021-01-17 03:32:35,69.7008,170.3133,-21.59,84,28,2.48
1,1,Oussouye,SN,2021-01-17 03:33:39,12.4850,-16.5469,73.40,68,0,9.22
2,2,Bluff,NZ,2021-01-17 03:33:39,-46.6000,168.3333,58.23,71,100,17.36
3,3,Hermanus,ZA,2021-01-17 03:31:51,-34.4187,19.2345,57.00,95,0,4.76
4,4,Wahpeton,US,2021-01-17 03:33:39,46.2652,-96.6059,19.99,93,90,3.44

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Rikitea,PF,2021-01-17 03:33:40,-23.1203,-134.9692,79.21,68,41,7.25
10,10,Arraial Do Cabo,BR,2021-01-17 03:33:40,-22.9661,-42.0278,75.43,84,27,29.15
17,17,Busselton,AU,2021-01-17 03:33:40,-33.6500,115.3333,84.00,34,0,8.01
21,21,Gummidipundi,IN,2021-01-17 03:33:40,13.4000,80.1500,77.00,78,20,2.30
22,22,Mancio Lima,BR,2021-01-17 03:33:40,-7.6142,-72.8958,75.36,94,100,2.75
27,27,Atuona,PF,2021-01-17 03:33:41,-9.8000,-139.0333,77.88,76,0,13.89
29,29,Hambantota,LK,2021-01-17 03:33:41,6.1241,81.1185,77.00,100,75,4.61
34,34,Almeirim,BR,2021-01-17 03:33:41,-1.5233,-52.5817,76.35,79,10,4.16
35,35,Flinders,AU,2021-01-17 03:33:41,-34.5833,150.8552,75.20,46,21,9.22
36,36,Ilhabela,BR,2021-01-17 03:33:41,-23.7781,-45.3581,77.47,76,100,4.43

In [14]:
preferred_cities_df.count()

City_ID       118
City          118
Country       118
Date          118
Lat           118
Lng           118
Max Temp      118
Humidity      118
Cloudiness    118
Wind Speed    118
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
9           Rikitea      PF     79.21 -23.1203 -134.9692
10  Arraial Do Cabo      BR     75.43 -22.9661  -42.0278
17        Busselton      AU     84.00 -33.6500  115.3333
21     Gummidipundi      IN     77.00  13.4000   80.1500
22      Mancio Lima      BR     75.36  -7.6142  -72.8958
27           Atuona      PF     77.88  -9.8000 -139.0333
29       Hambantota      LK     77.00   6.1241   81.1185
34         Almeirim      BR     76.35  -1.5233  -52.5817
35         Flinders      AU     75.20 -34.5833  150.8552
36         Ilhabela      BR     77.47 -23.7781  -45.3581

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        pass
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Rikitea,PF,79.21,-23.1203,-134.9692,Pension Maro'i
10,Arraial Do Cabo,BR,75.43,-22.9661,-42.0278,Pousada Porto Praia
17,Busselton,AU,84.00,-33.6500,115.3333,Observatory Guest House
21,Gummidipundi,IN,77.00,13.4000,80.1500,Le Raj Courtyard
22,Mancio Lima,BR,75.36,-7.6142,-72.8958,Hotel e Distribuidora Voyage

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))