## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Atar,MR,75.11,overcast clouds,20.5169,-13.0499,Oumou Elghoura
1,1,Arraial Do Cabo,BR,89.60,clear sky,-22.9661,-42.0278,Pousada Porto Praia
2,7,Nicoya,CR,89.60,clear sky,10.1483,-85.4520,Guayacan Real
3,11,Beloha,MG,79.23,scattered clouds,-25.1667,45.0500,NaN
4,14,Butaritari,KI,80.28,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...,...
196,688,Maradi,NE,89.60,clear sky,13.5000,7.1017,Hôtel Le National
197,696,Palau,PW,75.20,light rain,7.5030,134.6210,PALAU SUNRISE SEA VIEW LANDISON RETREAT
198,697,Manali,IN,77.00,mist,13.1667,80.2667,Sarathy Lodge
199,702,Bulungu,CD,78.75,overcast clouds,-4.5500,18.6000,NaN
200,708,Mogadishu,SO,77.18,few clouds,2.0371,45.3438,Hotel Juba

In [3]:
clean_hotel_df = vacation_df.dropna()
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Atar,MR,75.11,overcast clouds,20.5169,-13.0499,Oumou Elghoura
1,1,Arraial Do Cabo,BR,89.60,clear sky,-22.9661,-42.0278,Pousada Porto Praia
2,7,Nicoya,CR,89.60,clear sky,10.1483,-85.4520,Guayacan Real
4,14,Butaritari,KI,80.28,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
5,16,Bandarbeyla,SO,75.61,broken clouds,9.4942,50.8122,JABIR HOTEL

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

In [5]:
# 4a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Rio Grande")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Rio Grande")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Santa Maria")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Cruzeiro Do Sul")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Cidreira")]

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#import numpy as np
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy() 
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()
start[0][5]

-32.035

In [8]:
start[0][6]

-52.0986

In [11]:
stop1[0][5]

-29.6842

In [12]:
stop1[0][6]

-53.8069

In [15]:
stop2[0][5]

-29.5128

In [16]:
stop2[0][6]

-51.9853

In [19]:
stop3[0][5]

-30.1811

In [20]:
stop3[0][6]

-50.2056

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
start = (-32.035, -52.0986)
stop1 = (-29.6842,-53.8069)
stop2 = (-29.5128,-51.9853)
stop3 = (-30.1811,-50.2056)
end = (-32.035, -52.0986)

fig = gmaps.figure()
start2end_via_stop1 = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')
fig.add_layer(start2end_via_stop1)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,308,Rio Grande,BR,80.60,broken clouds,-32.0350,-52.0986,Hotel Atlântico Rio Grande
1,111,Santa Maria,BR,85.77,overcast clouds,-29.6842,-53.8069,Hotel Morotin
2,255,Cruzeiro Do Sul,BR,84.99,overcast clouds,-29.5128,-51.9853,Estrela Palace Hotel
3,382,Cidreira,BR,80.38,moderate rain,-30.1811,-50.2056,Hotel Castelo

In [26]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)

In [27]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))